body{
    background-color: rgb(41, 40, 40);
}

section.Offer {
background-color: #624BFF;
color: white;
padding: 20px 100px;
border-radius: 16px;
display: flex;
margin:90px
}
h2 {
    font-size: 40px;
}
.c1{
    padding-right:150px;

}
.points button{
 text-decoration: none;
 background-color: white;
 padding: 10px 20px;
 border-color: #624BFF;
 border-radius: 10px;
 /* text-decoration-color: #5f578f; */

}
.point-1{
    display:flex;
    /* padding:-50px; */
}
.point-1 p{
position: relative;
left:15px;
font-size: 20px;
}
.point-2{
    display:flex;
}
.point-2 p{
    position: relative;
    left:15px;
    font-size: 20px;
    }
.point-2{
    display:flex;
}
.point-3 p{
    position: relative;
    left:15px;
    font-size: 20px;
    }

.c2 p{
font-size: 30px;
text-decoration: none;
position: relative;
bottom: -50px;
}
.time{
    display: flex;
}
.time h3{
    font-size: 100px;
    padding:0px 40px;
    position: relative;
    top:-50px;
    right:40px;
}
.time p{
    font-size: 23px;
    padding:0px 40px;
    position: relative;
    top:-130px;
    right:40px;
    text-align: center;
}
.exp{
    /* background-color: black; */
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.exp span{
    color: #f8da63;
}
.expi span{
    font-size: 30px;
    position: relative;
    top:-10px;
}
.subjects span{
    font-size: 30px;
    position: relative;
    top:-10px;
}